<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cacheItemPolicies" type="CacheItemPolicyConfiguration.ConfigFile.CacheItemPolicyConfigurationSection, CacheItemPolicyConfiguration" />
	</configSections>
	<cacheItemPolicies>
		<!-- Absolute expiration by time span (duration) -->
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanWithEnabledAttributeFalse" absoluteExpiration="0.00:01:00" enabled="false" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanSetToAllZerosWithEnabledAttributeTrue"  absoluteExpiration="0.00:00:00" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanSetToSecondsWithEnabledAttributeTrue"   absoluteExpiration="0.00:00:30" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanSetToMinutesWithEnabledAttributeTrue"   absoluteExpiration="0.00:15:00" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanSetToHoursWithEnabledAttributeTrue"     absoluteExpiration="0.01:00:00" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanSetToDaysWithEnabledAttributeTrue"      absoluteExpiration="7.00:00:00" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByTimeSpanWithoutEnabledAttribute" absoluteExpiration="0.00:05:00" />

		<!-- Absolute expiration by date-time -->
		<cacheItemPolicy name="TestPolicyAbsoluteByDateTimeWithEnabledAttributeFalse" absoluteExpiration="09/15/2073 08:32:00" enabled="false" />
		<cacheItemPolicy name="TestPolicyAbsoluteByDateTimeWithEnabledAttributeTrue"  absoluteExpiration="09/15/2073 08:32:00" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteByDateTimeWithoutEnabledAttribute"   absoluteExpiration="09/15/2073 08:32:00" />

		<!-- Infinite (no expiration) -->
		<cacheItemPolicy name="TestPolicyAbsoluteInfiniteWithEnabledAttributeFalse"   absoluteExpiration="infinite" enabled="false" />
		<cacheItemPolicy name="TestPolicyAbsoluteInfiniteWithEnabledAttributeTrue"    absoluteExpiration="infinite" enabled="true" />
		<cacheItemPolicy name="TestPolicyAbsoluteInfiniteWithoutEnabledAttribute"     absoluteExpiration="infinite" />

		<!-- Sliding expiration (duration expressed as time span since last access) -->
		<cacheItemPolicy name="TestPolicySlidingWithEnabledAttributeFalse"            slidingExpiration="0.00:01:00" enabled="false" />
		<cacheItemPolicy name="TestPolicySlidingSetToZeroWithEnabledAttributeTrue"    slidingExpiration="0.00:00:00" enabled="true" />
		<cacheItemPolicy name="TestPolicySlidingSetToSecondsWithEnabledAttributeTrue" slidingExpiration="0.00:00:30" enabled="true" />
		<cacheItemPolicy name="TestPolicySlidingWithoutEnabledAttribute"              slidingExpiration="0.00:05:00"/>
	</cacheItemPolicies>
</configuration>