<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cacheItemPolicies" type="CacheItemPolicyConfiguration.ConfigFile.CacheItemPolicyConfigurationSection, CacheItemPolicyConfiguration" />
	</configSections>
	<cacheItemPolicies>
    <cacheItemPolicy name="" absoluteExpiration="0.00:00:00|12/21/2012 12:00|infinite" slidingExpiration="0.00:00:00" enabled="true|false">
      <cacheEntries>
        <cacheEntry key="aKeyToBeMonitored"/>
        <cacheEntry key="anotherOne"/>
        <cacheEntry key="andSoOn"/>
      </cacheEntries>
    </cacheItemPolicy>
	</cacheItemPolicies>
</configuration>